<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <title>Dodawanie studenta</title>
</head>
<body>

    <div th:include="layout :: navigationPanel"></div>

    <h1>Dodawanie studenta:</h1>

    <form th:id="addStudentForm" th:action="@{/addStudent}" method="POST">

        <label th:for="name">Imię</label> <br/>
        <input type="text" th:name="name" /> <br/>

        <label th:for="surname">Nazwisko</label> <br/>
        <input type="text" th:name="surname" /> <br/>

        <label th:for="average">Średnia</label> <br/>
        <input type="text" th:name="average" /> <br/>

        <br/>
        <button type="submit">Dodaj studenta</button>
    </form>

    <div th:include="layout :: footer"></div>

    <script>

        async function fetchData(endpoint, httpMethod, data = null) {
            const url = "http://localhost:8081";
            if (data != null) {
                return await fetch(url + endpoint, {
                    method: httpMethod, // GET, POST, DELETE, PUT, ...
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
            } else {
                return await fetch(url + endpoint, {
                    method: httpMethod, // GET, POST, DELETE, PUT, ...
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        }

        function collectData(form) {
            const formData = new FormData(form);
            let dataObj = {};
            formData.forEach((value, key) => {
                dataObj[key] = value;
            });
            // console.log(dataObj);
            return dataObj;
        }

        function redirectToStudentsListPage() {
            const url = "http://localhost:8081";
            const endpoint = "/";
            window.location.href = url + endpoint;
        }


        const addStudentForm = document.getElementById('addStudentForm');

        addStudentForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const data = collectData(addStudentForm);
            // console.log(data);
            const preparedData = {
                name: data.name,
                surname: data.surname,
                average: data.average
            };
            // console.log(preparedData);
            const id = data.id;
            await fetchData("/addStudent", "POST", preparedData)
            .then( async (response) => {
                // const data = await response.json();
                // console.log(data);
                // redirectToStudentsListPage();
                setTimeout(redirectToStudentsListPage, 3000);
            })
            .catch( (error) => {
                console.log(error);
            });
        });

    </script>

</body>
</html>